.about{
    background-color: rgb(105, 105, 126);
    color: white;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.about .profile{
    border: 10vh;
    border-color: black;
    margin-top: 40px;
    /* margin-right: 40px; */
    border: 10px solid rgb(29, 13, 47);
    margin-bottom: 40px;
    border-radius: 50%;
}


.about .profile img{

    height: 300px;
    width: 240px;
    margin-right: 70px;
    
}

.about .info{
    padding-top: 40px;
    width: 50%;
    align-items: left;
}

.info h2{
    color: rgb(29, 13, 47);
    width: fit-content;
    font-size: 4vh;
    /* background: linear-gradient(to right,
                  rgb(29, 13, 47),
                  white);
            -webkit-background-clip: text;
            color: transparent; */
}
.about .info hr{
    width: 30%;
    height: 5px;
}

.info .para{
    width: 80%;
    /* text-align:justify; */
    align-items: center;
    
    
}

.info .details{
    margin-top: 4vh;
}

.info .details h4{
    color: rgb(29, 13, 47);
    font-size: 2vh;
    margin-top: 10px;
}

.details h4 span{
    color: white;
    font-weight: 100;
    padding-left: 10px;
    font-size: 2vh;
}