.social-media-icon{
    display: flex;
    gap: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.icon{
    cursor: pointer;
    color: #ffffff;
}

.icon:hover{
    color: rgb(174, 166, 166);
}
